.content{
    float: left;
    margin-top: calc(5em + 35px);
    height: calc(100% - 5em - 35px - 10px);
    overflow-x: hidden;
    overflow-y: auto;
}
@media (orientation: portrait) {
    .content-resp{
        margin-top: calc(6em + 20px);
        margin-left: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 6em - 20px - 10px);
    }
}
@media (orientation: landscape) and (max-width: 800px){
    .content-resp{
        margin-top: calc(4em + 30px);
        margin-left: 15px;
        width: calc(100% - 30px);
        height: calc(100% - 4em - 30px - 10px);
    }
}
@media (orientation: landscape) and (max-width: 1200px){
    .content-resp{
        margin-left: 20px;
        width: calc(100% - 40px);
    }
}
@media (orientation: landscape) and (min-width: 1201px){
    .content-resp{
        margin-left: 25px;
        width: calc(100% - 50px);
    }
}