html{
    width: 100%;
    height: 100%;
    font-family: Ubuntu;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
}
a, button, input, textarea{
    text-decoration: none;
    outline: none;
}


#app-root{
    height: 100%;
    width: 100%;
}


#floating-msg-root{
    position: fixed;
    z-index: 2000;
    left: 2em;
}
@media (min-width: 1px) {
    .floating-msg-root-resp{
        width: 60%;
        top: calc(6.2em + 1em);
        font-size: small;
    }
}
@media (min-width: 601px) {
    .floating-msg-root-resp{
        width: 50%;
        top: calc(3.5em + 1em);
        font-size: medium;
    }
}
@media (min-width: 1001px) {
    .floating-msg-root-resp{
        width: 30%;
        top: calc(5em + 1em);
        font-size: large;
    }
}


.slide {
    margin-top: 50%;
    transition: all 1s;
}
.slide.up {
    margin-top: 0;
}

.no-border{
    border: none;
}

.w100p{
    width: 100%;
}
.w50p{
    width: 50%;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.xl-font{
    font-size: x-large;
}

.pad5x{
    padding: 5px;
}

.tac{
    text-align: center;
}
.tal{
    text-align: left;
}

.marg5x{
    margin: 5px;
}