.poll-item-format-menu{
    float: right;
    width: 35%;
    list-style: none;
    text-align: left;
}

.poll-item-format-view{
    float: left;
    width: 55%;
    padding: 5%;
    text-align: center;
}

.poll-item-content-type{
    margin: 5px;
    border: 1px solid lightgrey;
}