.poll-title-input{
    margin: auto;
    width: 100%;
}

.field-with-mpb{
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 0.5em;
    padding: 1em;
}

.field-fullw{
    width: calc(100% - 3em);
}

.submit-btn{
    background-color: #c91667;
    color: white;
    font-size: medium;
    font-weight: bold;
}