.header-nav-pane{
    float: left;
    height: 100%;
    text-align: center;
    padding: 5px;
    margin: auto;
}
.header-nav-btn{
    float: left;
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}
@media (min-width: 1px) {
    .header-nav-btn-resp{
        font-size: small;
    }
}

@media (min-width: 801px) {
    .header-nav-btn-resp{
        font-size: medium;
    }
}