.header{
    position: fixed;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}
@media (orientation: portrait) {
    .header-resp{
        height: 4em;
    }
}
@media (orientation: landscape) and (max-width: 800px) {
    .header-resp{
        height: 4.5em;
    }
}
@media (orientation: landscape) and (min-width: 801px) {
    .header-resp{
        height: 5em;
    }
}


.app-title{
    color: #222222;
    font-family: courier;
    padding-left: 1em;
}
@media (min-width: 1px) {
    .app-title-resp{
        font-size: x-large;
    }
}
@media (min-width: 401px) {
    .app-title-resp{
        /*padding-left: 1.8em;*/
    }
}
@media (min-width: 801px) {
    .app-title-resp{
        font-size: xx-large;
    }
}

.drawer-btn{
    color: gray;
    background-color: white;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid gray;
    outline: none;
    font-size: medium;
}
@media (orientation: portrait) {
    .drawer-btn-resp{
        float: right;
    }
}
@media (orientation: landscape) and (max-width: 800px) {
    .drawer-btn-resp{
        float: left;
    }
}
@media (orientation: landscape) and (min-width: 801px) {
    .drawer-btn-resp{
        display: none;
    }
}