.app-title{
    color: #222222;
    font-family: courier;
    margin-left: 1em;
    margin-right: 2em;
    margin-bottom: 0.7em;
    text-decoration: none;
}
@media (min-width: 1px) {
    .app-title-resp{
        font-size: x-large;
    }
}
@media (min-width: 801px) {
    .app-title-resp{
        font-size: xx-large;
    }
}