.app-title{
    color: #222222;
    font-family: courier;
}
@media (min-width: 1px) {
    .app-title-resp{
        font-size: x-large;
    }
}
@media (min-width: 801px) {
    .app-title-resp{
        font-size: xx-large;
    }
}