.drawer-auth-badge{
    width: 100%;
    border-bottom: 1px solid lightgray;
    float: left;
}

.drawer-auth-badge-img{
    border: 1px solid lightgray;
    border-radius: 5px;
    background-size: cover;
    background-image: url("http://moziru.com/images/snoopy-clipart-heart-14.jpg");
    float: left;
    margin-bottom: 15px;
}
@media (orientation: landscape) {
    .drawer-auth-badge-img-resp{
        margin-left: 1em;
    }
}
@media (min-height: 1px) {
    .drawer-auth-badge-img-resp{
        width: 3em;
        height: 3em;
    }
}
@media (min-height: 401px) {
    .drawer-auth-badge-img-resp{
        width: 5em;
        height: 5em;
    }
}
@media (min-height: 601px) {
    .drawer-auth-badge-img-resp{
        width: 5em;
        height: 5em;
    }
}
@media (min-height: 801px) {
    .drawer-auth-badge-img-resp{
        width: 8em;
        height: 8em;
    }
}

.drawer-auth-badge-txt{
    float: left;
    margin-left: 1em;
    margin-top: .6em;
    font-weight: bold;
    text-decoration: none;
    color: #222222;
}
@media (min-height: 1px) {
    .drawer-auth-badge-txt-resp{
        font-size: small;
    }
}
@media (min-height: 401px) {
    .drawer-auth-badge-txt-resp{
        font-size: medium;
    }
}
@media (min-height: 601px) {
    .drawer-auth-badge-txt-resp{
        font-size: large;
    }
}


.drawer-signin-btn{
    margin: 1em !important;
    padding: 0.5em !important;
}