.modal-wrap{
    position: relative;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 15px grey;
    padding: 1em;
    overflow-y: auto;
    top: 20%;
    display: inline-block;
}

