.modal-root {
    position: fixed;
    top: 0;
    z-index: 200;
    text-align: center;
    width: 80%;
    height: 80%;
    padding: 10%;
    overflow-y: auto;
}

.modal-close-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    border: none;
    font-size: small;
    outline: none;
}