.signin-btn {
    border: none !important;
}
.signin-btn:hover{
    border: 1px solid lightgray;
}


.signin-icon {
    margin: auto;
}


.signin-btn-text{
    width: 100%;
    margin-top: 7px !important;
}


.signin-pp-btn {
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 3px;
}
@media (min-width: 1px) {
    .signin-pp-btn-resp{
        font-size: medium;
        padding: 5px;
    }
}
@media (min-width: 501px) {
    .signin-pp-btn-resp{
        font-size: large;
        padding: 10px;
    }
}
@media (min-width: 801px) {
    .signin-pp-btn-resp{
        font-size: x-large;
        padding: 15px;
    }
}


.sign-out-btn{
    background-color: #222222;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
}