.signin-btn {
    color: white;
    font-size: small;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    width: 5.5em;
    height: 5.5em;
    background-color: white;
    border: 1px solid lightgrey;
    color: black;
}


.signin-icon {
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
@media (min-height: 1px) {
    .signin-icon-resp{
        width: 1em;
        height: 1em;
    }
}
@media (min-height: 501px) {
    .signin-icon-resp{
        width: 2em;
        height: 2em;
    }
}
@media (min-height: 801px) {
    .signin-icon-resp{
        width: 3em;
        height: 3em;
    }
}

.signin-btn-text{
    width: 100%;
    margin-top: 7px;
}


.signin-pp-btn {
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 3px;
}
@media (min-width: 1px) {
    .signin-pp-btn-resp{
        font-size: medium;
        padding: 5px;
    }
}
@media (min-width: 501px) {
    .signin-pp-btn-resp{
        font-size: large;
        padding: 10px;
    }
}
@media (min-width: 801px) {
    .signin-pp-btn-resp{
        font-size: x-large;
        padding: 15px;
    }
}