.signin-btn {
    border: none !important;
}
.signin-btn:hover{
    border: 1px solid lightgray;
}


.signin-icon {
    margin: auto;
}


.signin-btn-text{
    width: 100%;
    margin-top: 7px !important;
}


.signin-pp-btn {
    background-color: #222222 !important;
    color: white !important;
    border: none !important;
}


.sign-out-btn{
    background-color: #222222;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
}