.lp-btn{
    background-color: white;
    color: #222222;
    border-radius: 3px;
    border: 1px solid lightgrey;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
@media (min-width: 1px) {
    .lp-btn-resp{
        padding: 5px;
        margin: 1px;
    }
}
@media (min-width: 801px) and (min-height: 601px) {
    .lp-btn-resp{
        padding: 8px;
        margin: 2px;
    }
}
@media (min-width: 1201px) and (min-height: 801px) {
    .lp-btn-resp{
        padding: 12px;
        margin: 3px;
    }
}

.lp-btn-txt{
}
@media (min-width: 1px) {
    .lp-btn-txt-resp{
        font-size: small;
    }
}
@media (min-width: 801px) and (min-height: 601px) {
    .lp-btn-txt-resp{
        font-size: medium;
    }
}



.lp-btn-img{
    background-size: cover;
}
@media (min-width: 1px) {
    .lp-btn-img-resp{
        width: 1.5em;
        height: 1.5em;
    }
}
@media (min-width: 801px) and (min-height: 601px){
    .lp-btn-img-resp{
        width: 1.7em;
        height: 1.7em;
    }
}

.active-link-btn{
    background-color: #efefef;
    font-weight: bold;
}